@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

body {
    font-family: 'Secular One', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    background: #f1f2f7;
    overflow: hidden;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}



@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

h1 {
  font-weight: 700;
  font-size: 38px;
}

#info {
  font-size: 24px;
}

#bottom{
  position: absolute;
  bottom: 0;
  color:#f1f2f7;
}
#bottom p{
  font-size: 12px;
  text-align: center;
}

#info p {
  font-size: 15px;
  text-align: center;
}

input[type="text"] {
    width: 400px;
    padding: 15px;
    border-radius: 10px;
    
}

input[type="text"]::placeholder {
    font-weight: 700;

}


input[type="submit"] {
    background-color: #2589db;
    border: none;
    border-radius: 10px;
    padding: 17px;
    font-weight:700;
    font-size: 16px;

}



input[type="submit"]:hover {
    opacity: 70%;
    cursor: pointer;
    box-shadow: 10px 5px 5rgba(0, 0, 0, 0.63)
}

#copyimg{
  cursor: pointer;
  width: 25px;
  height: 25px
}
#copied{
  display:none;
}

a {
    color: black;
    text-decoration: none;
    background-color: #2589db;
    border: none;
    border-radius: 10px;
    padding: 17px;
    font-weight:700;
}

a:hover {
  opacity: 70%;
}


.url {
    font-weight: 500;
    background-color: #c8cbd0;
    padding: 20px 0;
    border-radius: 10px;
    font-size: 20px;
    width: 500px;
}

.url2{
  position: relative;
  font-weight: 500;
  background-color: #2589db;
  padding: 20px 0;
  border-radius: 10px;
  font-size: 15px;
  width: 100px;
  right: 0;
  text-align: center;
  left: 225px
}

.url-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: #c8cbd0;
    border-radius: 10px;
    padding: 0 15px;
}

.main-img {
  display: flex;
  margin: 100px 100px;
  padding-top: 100px;
  padding-right: 10px;
}


.url-box img {
    width: 18px;
    height: 18px;
}

#copy{
  cursor: pointer;
}

.square {
    position: absolute; 
    margin-top: 100 auto;
    display: block;
    width: 100%;
    height: 700px;
    background: #2589db;
    border-radius: 8px;
    top: 60%;
    text-align: center;
}

.squash {
    animation-name: squash; 
  }
.animated {
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

@keyframes squash {
  
    0%, 100% {
      transition-time-function: ease-in;
      transform-origin: 50% 100%;
    }
    
    0% {
      transform:  translate(0%,-300%)  scaleX(0.50) scaleY(1.50) ;
      opacity: 0;
    }
    11% {
      transform:  translate(0%,-200%)  scaleX(0.41) scaleY(1.59) ;
      opacity: .1;
    }
    30% {
      transform:  translate(0%,-100%)  scaleX(0.25) scaleY(1.75) ;
         
    }
    35% {
      transform:  translate(0%,-50%)  scaleX(1.70) scaleY(0.30) ;
   
    }
    46% {
      transform:  translate(0%,-25%)  scaleX(1.80) scaleY(0.20) ;
      opacity: 1;
    }
    54% {
      transform:  translate(0%, -10%)  scaleX(0.80) scaleY(1.20) ;
    }
    66% {
      transform:  translate(0%,-5%)  scaleX(1.20) scaleY(0.80) ;
  
    }
    78% {
      transform:  translate(0%,0%)  scaleX(0.95) scaleY(1.05) ;
    }
    100% {
      transform: inherit;
    }
  }
  
  .slide-up {
  animation: slide-up 10s cubic-bezier(0.65, 0, 0.35, 1) both
  }
  @keyframes slide-up {
  0%{transform: translateY(500px)}
    
  100%
    {transform: translateY(0)}
  }


.chains {
  margin: 1px 0;
	box-sizing: border-box;
	display: block;
	position: relative;
	white-space: nowrap;
	font-size: 30px;
	height: 2.1em;
	overflow: hidden;
}
	.chain {
		box-sizing: inherit;
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 3.86em;
		height: 1em;
		margin-left: -1.82em;
		border: .33em solid;
		border-radius: 1.05em;
		box-shadow: -.02125em -.02125em 0 .02125em #fff, .02125em .02125em 0 .02125em #fff inset;
	}
	.chain::after {
		content: '';
		box-sizing: inherit;
		border-radius: inherit;
		border: inherit;
		position: absolute;
		top: -.33em;
		left: -2.37em;
		width: 3.86em;
		height: 1em;
		box-shadow: -.02125em -.02125em 0 .02125em #fff inset, .02125em .02125em 0 .02125em #fff;
		-webkit-clip-path: polygon(50% 70%, 100% 70%, 100% 100%, 50% 100%);
		clip-path: polygon(50% 70%, 100% 70%, 100% 100%, 50% 100%);
	}
	.chain:nth-child(3n), .chain:nth-child(3n+1)::after {
		border-color: #2589db;
	}
	.chain:nth-child(3n+1), .chain:nth-child(3n+2)::after {
		border-color: #242424;
	}
	.chain:nth-child(3n+2), .chain:nth-child(3n+3)::after {
		border-color: #c8cbd0;
	}
	.chain:first-child::after {
		display: none;
	}








  