{% extends 'base.html' %}
{% block head%}
<script type="text/javascript" src="{{url_for('static', filename='js/index.js')}}"></script>
{%endblock head%}
{% block title %}Short{% endblock title %}

{% block content %}
<script>
    function copyDivToClipboard() {
        var range = document.createRange();
        range.selectNode(document.getElementById("ashortlink"));
        window.getSelection().removeAllRanges(); // clear current selection
        window.getSelection().addRange(range); // to select text
        document.execCommand("copy");
        window.getSelection().removeAllRanges();// to deselect
    }
</script>
    <div class="animated squash url-box">
        <img src="http://www.google.com/s2/favicons?domain={{long_url}}" alt="">
        <div class="url">{{long_url}}</div>
    </div>
    <p>That's Pretty Long</p>
    <div class ="animated squash url-box">
        <div class="url" id="ashortlink" >{{short_url}}</div>
        <img id="copy" src="{{url_for('static', filename="img/copy.svg")}}"  onclick="copyDivToClipboard()" alt="Copy Link">
    </div>
    <p>That's better </p>
    <a href="{{ url_for ('index') }}">Go home</a>

{% endblock content %}

